@import url('https://fonts.googleapis.com/css2?family=Alfa+Slab+One&family=Bebas+Neue&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
a{text-decoration: none; color: var(--color-white);}
.letraBebas {font-family: var(--font-bebas);}
.letraAlfa{font-family: var(--font-alfa);}

