 @use '../../styles/vars';

#fondoHeader img{
    max-height: 100vh;
    object-fit: cover; /*indica cómo el contenido de un elemento reemplazado, por ejemplo un <img> o <video>, debería redimensionarse para ajustarse a su contenedor.*/
}
#carousel {position: relative;}
#carousel .overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    color: var(--color-white);
    z-index: 1; /*Prioridad de elementos*/
}
.carousel-caption {
    margin: 0; 
    padding: 0;
}
.textosBurger {margin-top:200px; margin-left: 30px;}
.tituloBurger {color: var(--color-brown);}
.itgood {font-size: var(--size-textos) ;}
.burger {
    font-size: var(--size-titulos);
    text-shadow: 4px 4px var(--color-shadow);
}
.week{
    font-size: var(--size-subtitulos);
    text-shadow: 4px 4px var(--color-shadow);
}

@media screen and (max-width: 950px) {
    .textosBurger {margin: 120px 0px 0px 0px;}
}

@media screen and (max-width: 650px) {
    .textosBurger {margin: 70px 0px 0px 0px;}
}